<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<%= link_to "<< BACK", articles_path %>
<%= link_to "New z samej ścieżki", new_article_path %>
<%= link_to "Link do Welcome", controller: 'welcome' %>
